=haml :header
%div{:class => "form_container"}
%form{:action => "/sendmessage", :method => "post", :class => "message"}
  %input{:type => "text", :name => "message_text", :class => "message_text", :autofocus => "autofocus", :autocomplete => "off", :placeholder => "type"}
  %p{:class => "counter"} 240
  %input{:type => "submit", :class => "send", :value => "send↵"}
  %p{:class => "fyi"} this goes straight to my pager, so state who you are if you want a response. <a href="https://github.com/samuelkf/pageme" target="_blank">code here if ur interested</a>