=haml :header
%div{:class => "form_container"}
%form{:action => "/sendmessage", :method => "post", :class => "message"}
  %input{:type => "text", :name => "message_text", :class => "message_text", :autofocus => "autofocus", :placeholder => "type"}
  %p{:class => "counter"} 240
  %input{:type => "submit", :class => "send", :value => "sendâ"}