!!!  
%html  
  %head  
    %title= @title
    %meta{:name => "theme-color", :content=> "#000000"}
    %link{:rel => "stylesheet", :href => "/styles.css"}
    %script{:type => "text/javascript", :src => "//code.jquery.com/jquery-2.2.0.min.js"}
    %script{:type => "text/javascript", :src => "scripts/main.js"}
  %body
  %h1= @title