$typesize: 6em;
$typecolour: white;

body {
  font-family: sans-serif;
  color: $typecolour;
  padding: 0.1em 0.3em;
  background-color: black;
}

h1 {
  margin: 0 0 0.4em 0;
  font-size: $typesize;
  font-weight: normal; 
}

p {
  font-size: $typesize;
}

a, a:visited {
  color: $typecolour;
  text-decoration: underline;
}

p.fyi {
  font-size: 2em;
  font-style: italic;
}

.counter, .send { display: inline; }

*:focus {
  outline: none;
}

.message_text {
  width: 100%;
  font-size: $typesize;
  border: none;
  color: $typecolour;
  margin-bottom: 0.3em;
  background-color: transparent;
}

.counter {
  margin-right: 0.2em;
}

.send {
  font-size: $typesize;
  padding: 0;
  margin-top: -0.1em;
  border: none;
	color: $typecolour;
  background-color: transparent;
  float: right;
  cursor: pointer;
}

@media (max-width: 490px) {
  .send { float: none; }
}